.before-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.before-login-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.before-login-text h1 {
    font-size: 5rem;
    font-weight: 100;
    font-family: 'Rubik Glitch', cursive;
    letter-spacing: -1px;
    white-space: nowrap;
    background: linear-gradient(90deg, #00b7ff 0%, #006fff 50%, #00b7ff 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: before-login-text-gradient 5s infinite alternate;
    -webkit-animation: before-login-text-gradient 2s infinite alternate;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

@keyframes before-login-text-gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 50% 50%;
    }
}

.before-login-text p {
    white-space: nowrap;
    font-size: .6rem;
    color: #d8d8d8;
}

.btn {
    padding: .8rem 15rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #ffffff08;
    box-shadow: #00000055 0px 5px 20px;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 5px;
    transition: background .4s, letter-spacing .4s, word-spacing .4s;
    -webkit-transition: background .4s, letter-spacing .4s, word-spacing .4s;
    -moz-transition: background .4s, letter-spacing .4s, word-spacing .4s;
    -ms-transition: background .4s, letter-spacing .4s, word-spacing .4s;
    -o-transition: background .4s, letter-spacing .4s, word-spacing .4s;
}

@media (hover: hover) and (pointer: fine) and (min-width: 745px) {
    .btn:hover {
        background-color: #ffffff11;
        letter-spacing: 1px;
        word-spacing: 10px;
    }    
}

@media (max-width: 580px) {
    .before-login-text h1 {
        font-size: 2.5rem;
    }

    .before-login-text p {
        font-size: .5rem;
    }
}

@media (max-width: 380px) {
    .before-login-text h1 {
        font-size: 2rem;
    }

    .before-login-text p {
        font-size: .5rem;
    }
}