.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.homepage-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.homepage-text h1 {
    font-size: 4.5rem;
    font-weight: 100;
    font-family: 'Rubik Glitch', cursive;
    letter-spacing: -1px;
    white-space: nowrap;
    background: linear-gradient(90deg, #00b7ff 0%, #006fff 50%, #00b7ff 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: homepage-text-gradient 5s infinite alternate;
    -webkit-animation: homepage-text-gradient 2s infinite alternate;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

@keyframes homepage-text-gradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 50% 50%;
    }
}

.homepage-text p {
    white-space: nowrap;
    font-size: .6rem;
    color: #d8d8d8;
}

.homepage-start-btn {
    width: 5.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: -.5px;
    margin: 2rem;
    cursor: pointer;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s, letter-spacing .3s;
    -webkit-transition: background-color .3s, letter-spacing .3s;
    -moz-transition: background-color .3s, letter-spacing .3s;
    -ms-transition: background-color .3s, letter-spacing .3s;
    -o-transition: background-color .3s, letter-spacing .3s;
    white-space: nowrap;
}

.homepage-start-btn:hover {
    background-color: #0000008e;
    letter-spacing: .5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 7rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    border: #ffffff10 solid .1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #0000001c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
}

@media (max-width: 580px) {
    .homepage-text h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 380px) {
    .homepage-text h1 {
        font-size: 2.5rem;
    }
}