.logout-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00000099;
    width: 100vw;
    height: 100vh;
    user-select: none;
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
}

.logout-confirmation p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
}

.buttons {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons div {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1.1rem;
    padding: .5rem;
    white-space: nowrap;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    letter-spacing: -.5px;
    cursor: pointer;
    background-color: #ffffff0b;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.buttons div:hover {
    background-color: #ffffff15;
}

@media (max-width: 340px) {
    .logout-confirmation p {
        font-size: .8rem;
    }

    .buttons div {
        font-size: .8rem;
    }
}