.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    background: #00000069;
    border: 1px solid #ffffff14;
    box-shadow: 0 4px 30px #000000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar h1 {
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Rubik Glitch', cursive;
    letter-spacing: -1px;
    white-space: nowrap;
    color: #00b7ff;
    word-spacing: 5px;
}

.navbar button {
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 1.1rem;
    letter-spacing: -1px;
    font-weight: 600;
    padding: .5rem;
    cursor: pointer;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s, letter-spacing .3s;
    -webkit-transition: background-color .3s, letter-spacing .3s;
    -moz-transition: background-color .3s, letter-spacing .3s;
    -ms-transition: background-color .3s, letter-spacing .3s;
    -o-transition: background-color .3s, letter-spacing .3s;
    white-space: nowrap;
}

.navbar button:hover {
    background-color: #2a2a2a;
    letter-spacing: .5px;
}

@media (max-width: 400px) {
    .navbar {
        flex-direction: column;
    }

    .navbar div {
        margin: .6rem 0;
    }
}