.list {
    background-color: #000;
    width: fit-content;
    height: 20rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #00000000;
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: none;
    box-shadow: 0 4px 30px #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow-y: scroll;
    width: 20rem;
}

.list::-webkit-scrollbar {
    width: .5rem;
}

.list::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    background-color: #000;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.item p {
    white-space: nowrap;
    margin: 0 .3rem;
}