.list {
    background: #000000eb;
    width: fit-content;
    min-height: 20rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    box-shadow: 0 4px 30px #00000054;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 20rem;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    background-color: #222222;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.item p {
    white-space: nowrap;
    margin: 0 .3rem;
}

.item div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: .6rem;
    font-size: 1rem;
    padding: .4rem;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}

.item div:hover {
    background-color: #4d4d4d;
}

@media (max-width: 880px) {
    .list {
        width: 20rem;
    }
}

@media (max-width: 380px) {
    .list {
        width: 15rem;
    }
}