.popup-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000aa;
    z-index: 9;
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 50%;
    max-width: 70%;
    max-height: 50%;
    padding: 2rem;
    text-align: center;
}

.popup-title {
    text-transform: uppercase;
    letter-spacing: -2px;
    word-spacing: 6px;
}

.popup-warning {
    text-transform: capitalize;
    margin: 1rem;
    color: #ff0000;
    font-weight: 400;
}

.popup-text {
    text-transform: capitalize;
    word-spacing: 2px;
    font-weight: 400;
    font-size: .8rem;
    color: #ccc;
    margin: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-button {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 60%;
    padding: .8rem 0;
    border: none;
    cursor: pointer;
    background-color: #ffffff11;
    text-transform: uppercase;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

@media (max-width: 900px) {
    .popup-container {
        max-width: 90%;
        max-height: 40%;
        padding: .5rem;
    }

    .popup-title {
        font-size: 1.2rem;
    }

    .popup-warning {
        font-size: .8rem;
    }

    .popup-text {
        font-size: .6rem;
    }
}