@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Rubik+Glitch&display=swap');

:root {
    color-scheme: dark;
}

* {
    background-origin: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: calc(45% + .8vmin);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    color: #fff;
    background-image: url("./assets/img/706663.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000000aa;
    background-blend-mode: color;
}

:any-link {
    text-decoration: none;
    cursor: pointer;
    color: #00b7ff;
}